<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Toolbar -->
<div class="app-body">
  <p class="greeting">Title text</p>
  <p>Description text..........</p>

  <div class="product-all-contents">
    <p class="my-title">Heading 1</p>

    <div class="product-contents">
      <div class="product">
        <p>Text</p>
      </div>
      <div class="product">
        <p>Text</p>
      </div>
      <div class="product">
        <p>Text</p>
      </div>
      <div class="product">
        <p>Text</p>
      </div>
      <div class="product">
        <p>Text</p>
      </div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 2</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 3</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 4</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 5</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 6</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>
</div>

<!-- Card reference: https://stackoverflow.com/questions/50579920/how-to-make-the-squares-scroll-in-a-row-in-a-mobile-view-in-html-css -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
