<!-- Toolbar -->
<div class="app-body">
  <p class="greeting">Title text</p>
  <p>Description text..........</p>

  <div class="product-all-contents">
    <p class="my-title">Heading 1</p>

    <div class="product-contents">
      <div
        [routerLink]="['/listview']"
        [queryParams]="{ value: 'testing.json' }"
        class="product"
      >
        <p>Text</p>
      </div>
      <div
        class="product"
        [routerLink]="['/listview']"
        [queryParams]="{ value: '2' }"
      >
        <p>Text</p>
      </div>
      <div
        class="product"
        [routerLink]="['/listview']"
        [queryParams]="{ value: '3' }"
      >
        <p>Text</p>
      </div>
      <div class="product">
        <p>Text</p>
      </div>
      <div class="product">
        <p>Text</p>
      </div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 2</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 3</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 4</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 5</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>

  <div class="product-all-contents">
    <p class="my-title">Heading 6</p>

    <div class="product-contents">
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
      <div class="product"><p>Text</p></div>
    </div>
  </div>
</div>
